:root {
    --main-colorm: #303446;
    --surface-0m: #414559;
    --surface-1m: #51576d;
    --surface-2m: #626880;
    --textm: #c6d0f5;
    --overlay-0m: #737994;
    --overlay-1m: #838ba7;
    --overlay-2m: #949cbb;
    --subtext-0m: #a5adce;
    --subtext-1m: #b5bfe2;

}
html, body {
  height: 100%;
  margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-colorm);
    color: var(--textm);
}
.getstartedb{
    background-color: var(--surface-0m);
    color: var(--textm);
    border: 1px solid;
    border-radius: 6px;
}

.welcomed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: auto;
    padding: 20px;
    text-align: center;
}
.getstartedb:hover{
    transform: translateY(-3px);
}
