:root {
    --main-color: #303446;
    --surface-0: #414559;
    --surface-1: #51576d;
    --surface-2: #626880;
    --text: #c6d0f5;
    --overlay-0: #737994;
    --overlay-1: #838ba7;
    --overlay-2: #949cbb;
    --subtext-0: #a5adce;
    --subtext-1: #b5bfe2;

}
body{
    background-color: var(--main-color);
    color: var(--text);
}
.tabs{
    justify-items: center;
}
.tab {
    margin-right:5px;
    margin-left: 5px;
    background-color: var(--surface-0);
    color: var(--text);
    border-radius: 5px;
    width: 100px;
    height:27px;

}
.tab:hover{
    transform:translateY(0);
}
.tab:active{
    background-color: var(--surface-1);
}
.addbutton{
    background-color: var(--surface-0);
    color: var(--text);
    border-radius: 5px;
}
.searchbar{
    margin: 5px;
    background-color: var(--surface-0);
    color: var(--text);
    border-radius: 5px;
}   