:root {
    --main-color: #303446;
    --surface-0: #414559;
    --surface-1: #51576d;
    --surface-2: #626880;
    --text: #c6d0f5;
}
body{
    background-color: var(--main-color);
    color: var(--text);
}

.tab {
    margin-right:5px;
    margin-left: 5px;
    background-color: var(--surface-0);
    color: var(--text);
    border-radius: 5px;
    width: 100px;
    height:27px;

}
.tab:hover{
    transform:translateY(0);
}
.tab:active{
    background-color: var(--surface-1);
}
.addbutton{
    background-color: var(--surface-0);
    color: var(--text);
    border-radius: 5px;
}
.searchbar{
    margin: 5px;
    background-color: var(--surface-0);
    color: var(--text);
    border-radius: 5px;
}   