:root {
    --main-color: #303446;
    --surface-0: #414559;
    --surface-1: #51576d;
    --surface-2: #626880;
    --text: #c6d0f5;
}
body{
    background-color: var(--main-color);
    color: var(--text);
}